<h1><%= @category.name %></h1>

<h2>Products in this Category:</h2>
<ul>
  <% @products.each do |product| %>
    <li><%= product.name %> - Created at: <%= product.created_at.to_s(:long) %></li>
  <% end %>
</ul>
